body {
  text-align: center;
  font-size: 16px;
  font-family: fantasy;
  margin: 0px;
  padding: 0px;
}
.cabecera {
  display: flex;
  justify-content: space-between;
  width: initial;
  background-color: #01152e;
  color: white;
  font-size: 23px;
  /* text-align: right; */
  font-weight: bolder;
  padding: 0em;
}

.cabecera img {
  width: 109px;
  height: 88px;
}
.cabecera p {
  font-size: 29px;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: left;
  border: 1px solid black;
  margin: 0 auto;
}
.post {
  padding: 20px;
}
.container h1 {
  padding-left: 20px;
  font-size: 25px;
  font-family: fantasy;
}
.container p {
  padding-left: 20px;
}
